$color: #4ee2a3;
.container {
  text-align: center;
  min-height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  position: absolute;
  bottom: 0;
  font-weight: bold;
}
