@use "styles/constants" as *;

.container {
  transition: all 0.2s;
  min-height: 0;

  padding: 10px;
  display: flex;
  justify-content: center;

  & > table {
    font-size: 16px;
    width: 60%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.028), 0 6.7px 13.4px rgba(0, 0, 0, 0.042), 0 30px 60px rgba(0, 0, 0, 0.07);

    @media (max-width: $xxl) {
      width: 70%;
    }
    @media (max-width: $xl) {
      width: 80%;
    }
    @media (max-width: $md) {
      width: 100%;
    }

    & > tbody > tr {
      border-bottom: 1px solid rgb(0, 0, 0, 0.08);

      &:last-child {
        border: 0;
      }
      & > th {
        padding: 15px;
      }
    }
  }
}
