.ant-popover {
  &-inner {
    box-shadow: 0 6.7px 5.5px rgba(0, 0, 0, 0.034), 0 12.3px 17.8px rgba(0, 0, 0, 0.045),
      0 18.4px 40.3px rgba(0, 0, 0, 0.053), 0 30px 75.8px rgba(0, 0, 0, 0.066), 0 76px 100px rgba(0, 0, 0, 0.1);

    &-content {
      font-size: 16px !important;
    }
  }
  &-title {
    padding: 15px;
    text-align: center;
    color: white;
    font: {
      size: 18px;
    }
    background-color: #1ed760;
  }
}
.ant-picker {
  &-cell-selected {
    .ant-picker-cell-inner {
      background-color: #eafff1 !important;
    }
    .ant-picker-calendar {
      &-date-value {
        color: $color-primary !important;
      }
    }
  }
  &-calendar {
    &-date {
      &-today {
        border-color: $color-primary !important;
        color: $color-primary;
      }
      &-value {
        font-weight: 700;
        text-align: center;
      }
    }
  }
  &-content {
    th {
      text-align: center;
      padding: 0 6px 5px !important;
    }
  }
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 0;
}
