.p-8 {
  padding: 8px;
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-16 {
  margin-top: 16px;
}
.ml-8 {
  margin-left: 8px;
}
.mx-auto {
  margin: 0 auto;
}
.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
