$color: #4ee2a3;
.AuthPage {
  text-align: center;
  min-height: 100vh;
  position: relative;
  background: {
    image: url("/images/auth_bg.webp");
    position: center;
    size: cover;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: AuthPage 0.5s ease-in-out;

  &_footer {
    position: absolute;
    bottom: 0;
    color: rgb(180, 180, 180);
    &-tag {
      font-weight: bold;
      animation: AuthPage_tag 3s ease 1s infinite;
    }
  }
}
@keyframes AuthPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes AuthPage_tag {
  to {
    transform: rotateY(360deg);
  }
}
