@use "styles/constants" as *;

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;

  background: white;
  border-right: 1px solid #dadce0;
  z-index: 998;
  box-shadow: 0 0px 21px rgb(30, 215, 96, 0.2);
  transition: width 0.2s ease-in-out;

  &_item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-left: 4px solid transparent;

    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    font: {
      size: 16px;
      weight: 500;
    }
    transition: all 0.25s;

    &:hover {
      background: rgb(235, 235, 235);
    }

    &_active {
      border-left-color: $color-primary;
      color: $color-primary !important;
    }
    &-title {
      padding-left: 12px;
    }
  }

  @media (min-width: $sm) {
    width: 100%;
    &:hover {
      width: 220px;
    }
  }

  @media (max-width: $sm) {
    border-right: 0;
    flex-direction: row;
    justify-content: center;

    &_item {
      border-left: 0;
      svg {
        font-size: 28px !important;
      }
      &-title {
        display: none;
      }
      &_active {
        border-bottom: 3px solid $color-primary;
      }
    }
  }
}
